.btn-group {
  width: 9.7rem;
  height: 3.4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.7rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 2.7rem;
  cursor: pointer;
}

.btn-center {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  width: 4rem;
}
