.avatar {
  width: 3rem;
  height: auto;
  cursor: pointer;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.2rem;
  position: relative;
}

.small-cart {
  cursor: pointer;
}

.small-cart:hover {
  color: black;
}

.badge {
  background-color: hsl(26, 100%, 55%);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-size: 8px;
  height: 3px;
  padding: 6px 7px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 6px;
  position: absolute;
  top: 13%;
  left: 7.5%;
}
