@media screen and (max-width: 975px) {
  .infos {
    margin: 1rem 0.5rem;
    margin-left: 0.5rem;
  }
  .price-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .price,
  .old-price {
    width: 50%;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }
  .old-price {
    text-align: end;
    margin-right: 1rem;
  }

  .section-buttons {
    flex-wrap: wrap;
    margin: 0.5rem auto;
  }

  .btn-group {
    width: 90%;
    margin: 1rem auto;
  }
  .btn-left {
    width: 30%;
  }
  .btn-right {
    width: 30%;
  }
  .add {
    width: 90%;
    margin: 1rem auto;
  }
}
