.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
