.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 6rem;
  margin-left: 2.9rem;
}

.gallery-body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-big {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.gallery-footer {
  margin-top: 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-thumb {
  width: 5.5rem;
  height: auto;
  border-radius: 1rem;
}

.image-thumb:first-child {
  border: 2px solid hsl(26, 100%, 55%);
}
